@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  top: 5px;
  left: 10px;
  z-index: 1000;
  font-family: 'Lufga', sans-serif; /* Apply Lufga font to the header */
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 0px;

}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navListStyle {
  display: 'flex';
  margin: 0;
  padding: 0
}

.nav-item {
  position: relative;
  margin: 10px 10px;
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child)::after {
  content: '/';
  margin-left: 10px;
  color: #254336;
  font-size: 1.75rem;
}
.nav-link {
  text-decoration: none;
  color: #254336;
  font-family: 'Lufga', sans-serif; /* Apply Lufga font to the navigation links */
}

.iconsContainer {
  display: flex;
  align-items: center;
}

.icon {
  width: 35px;
  height: 35px;
  margin-left: 25px;
}

.iconLarge {
  width: 55px;
  height: 50px;
  margin-left: 25px;
}
