.card {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding-left: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 230px;
  width: 70%;
  position: absolute;
  top: 680px;
  left:370px;
}
.heading{
  font-family: 'Lufga', sans-serif;
  font-weight: 600;
}

.reportItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.text {
  font-family: 'Lufga', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  margin-top: 10px; /* Adjust this value as needed to increase space */
  margin-bottom: 10px; /* Additional margin for separation */
}
.cir{
  margin-right:10px;
}