.card {
    display: flex;
    flex-direction: column;
    background-color: #BDCFC666;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(230, 210, 210, 0.1);
    cursor: pointer;
    height: 21vh;
    width: 10vw;
    position: absolute;
    top: 680px;
    left: 0;
    justify-content: center;
    width: 13vw;
  }
  
  .heading {
    font-family: 'Lufga', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top:0px;
    left:50px;
  }
  
  .ReminderItem1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    position: absolute;
    left:20px;
  }
  .ReminderItem2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    position: absolute;
    left:120px;
  }
  
  .imgcontainer {
    width: 40px;
    margin: 20px;
  }
 .img {
    border-radius:10px;
 }
  .text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: 0;
  }
  