@font-face {
    font-family: 'Lufga';
    src: url('/fonts/Lufga-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lufga';
    src: url('/fonts/Lufga-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  