.upcomingEvents {
  font-family: Arial, sans-serif;
  width: 20vw;
  margin-top: 2px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
}

.event {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.eventDetails {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add space between title and icon */
}

.eventTitle {
  font-size: 18px;
  margin: 0;
}

.iconContainer {
  margin-left: 10px; /* Add space between title and icon */
}

.bellIcon {
  width: 24px;
  height: 24px;
}

.eventDescription {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.eventTime {
  font-size: 12px;
  color: #999;
}

.dueSoon {
  font-size: 12px;
  color: #f39c12;
  margin-top: 5px;
}
