.background{
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Use column layout for better responsiveness */
  width: 100%;
  height: 100vh;
  background-image: url('/Background.png');
  background-size: cover; /* Ensure the image covers the entire background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
  margin: 0;
  z-index: -1;
}
.headtext{
  font-family: Lufga;
  font-size: 3vh;
  font-weight: 700;
  line-height: 3vh;
  text-align: left;
  position: absolute;
  top:10vh;
  left:3vw;
  width:43vw;
  color: #254336;
}
.vishead{
  font-family: Lufga;
  font-size: 5vh;
  font-weight: 600;
  line-height: 4vh;
  text-align: left;
  position: absolute;
  top:20vh;
  left:3vw;
  color: #254336;
}
.vistext{
  font-family: Lufga;
  font-size: 3vh;
  font-weight: 600;
  line-height: 4vh;
  text-align: left;
  position: absolute;
  top:28vh;
  left:3vw;
  width: 54vw;
  color: #254336;

}
.visimg{
  position:absolute;
  top:20vh;
  left:65vw;
  height: 25vh;
  width: auto;
}
.whathead{
  font-family: Lufga;
  font-size: 5vh;
  font-weight: 600;
  line-height: 4vh;
  text-align: left;
  position: absolute;
  top:44vh;
  left:3vw;
  color: #254336; 
}
.whattext{
  font-family: Lufga;
  font-size: 3vh;
  font-weight: 600;
  line-height: 4vh;
  text-align: left;
  position: absolute;
  top:51vh;
  left:3vw;
  width: 54vw;
  color: #254336;
}
.whatimg{
  position:absolute;
  top:45vh;
  left:65vw;
  height: 20vh;
  width: auto;
}
.misshead{
  font-family: Lufga;
  font-size: 5vh;
  font-weight: 600;
  line-height: 4vh;
  text-align: left;
  position: absolute;
  top:65vh;
  left:3vw;
  color: #254336; 
}
.misstext{
  font-family: Lufga;
  font-size: 3vh;
  font-weight: 600;
  line-height: 4vh;
  text-align: left;
  position: absolute;
  top:72vh;
  left:3vw;
  width: 54vw;
  color: #254336;
}
.missimg{
  position:absolute;
  top:70vh;
  left:65vw;
  height: 20vh;
  width: auto;
}
